{% extends 'page/base.html' %}
{% load static %}


{% block content %}
    <h2>Register</h2>

    <form action="" method="post">
        {% csrf_token %}

        <input type="text" name="Username" placeholder="Enter Username" required>
        <input type="text" name="Firstname" placeholder="Enter Firstname" required>
        <input type="text" name="Lastname" placeholder="Enter Lastname" required>
        <input type="email" name="Email" placeholder="Enter Email" required>
        <input type="password" name="Password" placeholder="Enter Password" required>
        <input type="password" name="Password2" placeholder="Confirm Password" required>
        <button type="submit">Register</button>
        <p>don't have an account? <a href="{% url 'signin' %}">signin here</a> </p>
    </form>
    
{% endblock content %}